.oh{
    overflow: hidden;
}

.ac{
    text-align: center;
}

.df{
    display: flex;
}

/*a:before{
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: -3px;
    right: 0;
    background: $font-color;
    transition: $transition;
}

a:hover:before {
    width: 100%;
    left: 0;
}*/












