@media only screen and (min-width: 1921px) {
    .home-slider__preview{
        right: 400px;
        &:hover{
            right: 392px;
        }
    }
    .home-slider__info .button {
        bottom: 180px;
    }
}

@media only screen and (max-width: 1850px) {
    .header {
        width: 100%;
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1500px){
    .footer {
        width: 100%;
        padding: 60px 50px 40px;
    }
    .container {
        width: 100%;
        padding: 0 50px;
    }
    .filter-block_fixed{
        .container {
            padding: 0 50px;
        }
    }

}

@media only screen and (max-width: 1440px){
    .container {
        width: 100%;
    }
    .home-slider__info{
        margin-left: -50%;
    }
    .home-slider__pic{
        overflow: hidden;
        height: 640px;
    }
    .home-slider .owl-item .home-slider__pic img{
        width: auto;
        height: 100%;
    }
    .collection-pic {
        width: 452px;
        height: 452px;
        flex: 0 0 452px;
        overflow: hidden;
        img{
            width: auto;
            height: 100%;
            object-fit: cover;
        }
    }
    .collection{
        margin-bottom: 95px;
    }
    .home-intro {
        margin-bottom: 75px;
    }
    .collection-title{
        font-size: 40px;
        line-height: 48px;
    }
    .collection-text, .collection .button {
        margin-left: 75px;
    }
    .collection_left .collection-title {
        transform: translateX(47px);
    }
    .collection_left .collection-text, .collection_left .button {
        margin-left: 120px;
    }
    .collection.collection_left, .blog-wrap {
        margin-bottom: 75px;
    }
    .home-trand__all{
        height: 80px;
    }
}



@media only screen and (max-width: 1300px) {
    .header-nav__item_devider, .header-nav__item_sub{
        display: none;
    }
    .footer-menu__cat{
        width: auto;
        padding-right: 80px;
    }
    .filter-block .container{
        flex-wrap: wrap;
    }
    .filter{
        width: calc(33.333% - 30px);
        margin-bottom: 15px;
        &:nth-of-type(4), &:nth-of-type(5){
            width: calc(50% - 30px);
            margin-bottom: 0;
        }
    }
    


}

@media only screen and (max-width: 1170px) {

}

@media only screen and (max-width: 1040px) {
    .header-nav, .header-nav__item_article, .header-nav__item_button-photo{
        display: none;
    }
    .header-nav__item_button-menu{
        display: block;
    }
    .header-logo{
        margin: 0;
    }
    .header{
        height: 70px;
        padding: 0 25px;
    }
    .container {
        padding: 0 25px;
    }
    .footer {
        padding: 25px 25px 40px;
    }
    .product{
        width: calc(33.333% - 30px);
    }
    .intro .page-title {
        margin: 60px 0;
        font-size: 40px;
    }
    .filter-block_fixed{
        .container {
            padding: 0 25px;
        }
    }
    .home-trand{
        .product {
            width: calc(25% - 30px);
        }
    }
    .collection-pic {
        width: 380px;
        height: 380px;
        flex: 0 0 380px;
    }
}

@media only screen and (max-width: 980px) {
    .footer{
        flex-wrap: wrap;
    }
    .footer-menu{
        width: 100%;
    }
    .footer-menu__cat {
        padding-right: 30px;
        width: 25%;
        &:last-child{
            padding: 0;
        }
    }
    .soc-block__title{
        display: none;
    }
    .soc {
        margin: 20px 0 0 -11px;
    }
    .home-slider__pic {
        height: 480px;
    }
    .home-slider__title {
        font-size: 34px;
        line-height: 45px;
    }
    .home-slider__preview {
        opacity: 0;
        visibility: hidden;
    }
    .home-blog{
        .blog{
            width: calc(50% - 30px);
            &:last-child{
                display: none;
            }
        }
    }
    .home-blog__all-wrap, .home-trand__all{
        height: 50px;
    }
    .home-trand{
        .product{
            width: calc(33.333% - 30px);
            &:last-child{
                display: none;
            }
        }
    }
    .collection, .blog-wrap {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 800px){

}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 700px){
    .footer{
        padding: 25px 0;
    }
    .footer-menu__cat{
        width: 100%;
        padding: 0;
        border-top: 1px solid #e5e5e5;
    }
    .footer-menu{
        flex-direction: column;
    }
    .footer-menu__cat-item{
        display: none;
    }
    .footer-menu__cat-name{
        position: relative;
        height: 80px;
        margin: 0;
        display: flex;
        align-items: center;
        padding-left: 25px;
        cursor: pointer;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 33px;
            right: 26px;
            width: 20px;
            height: 20px;
            background: url(../img/icon_arrow_footer_down.svg) center center no-repeat;
            transition: $transition;
        }
    }
    .soc {
        margin: 20px 0 0 11px;
    }

    .scroll-top{
        right: 16px;
        bottom: 30px;
    }
    .footer-menu__list.act{
        .footer-menu__cat-item{
            display: block;
            padding-left: 25px;
            &:last-child{
                margin-bottom: 20px;
            }
        }
        .footer-menu__cat-name{
            &:after{
                transform: rotate(180deg);
            }
        }
    }
    .page-title{
        font-size: 32px;
        margin: 10px 0 40px !important;
    }
    .intro-container{
        margin-bottom: 40px;
    }
    .filter-block{
        position: fixed;
        background: #fff;
        width: 100%;
        height: 100%;
        right: -100%;
        top: 0;
        overflow: auto;
        will-change: right;
        z-index: 1000;
        transition: $transition05;
        opacity: 0;
        margin: 0;
        padding: 0;
        &__close{
            width: 30px;
            height: 30px;
            position: absolute;
            top: 20px;
            right: 22px;
            background: url(../img/icon_close_mobile.svg) center center no-repeat;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            z-index: 1000;
            display: block;
        }
        &_act {
            opacity: 1;
            right: 0;
        }
        .container{
            padding-top: 115px;
            width: 300px;
            position: relative;
        }
        .filter{
            width: 100%;
            margin: 0 0 15px;
        }
    }
    .filter-sort{
        display: flex;
        margin: 0 -15px;
        align-items: flex-start;
        justify-content: space-between;
    }
    .sort{
        width: calc(50% - 30px);
        margin: 0 15px;
    }
    .filter_sort{
        margin: 0;
        width: 100%;
    }
    .sort__total{
        font-size: 13px;
        color: $color-gray;
        margin-top: 15px;
        text-align: right;
        transition: $transition;
    }
    .filter-btn{
        display: block;
    }
    .product {
        width: calc(50% - 16px);
        margin: 8px;
    }
    .filter-btn, .sort{
        width: calc(50% - 16px);
        margin: 0 8px;
    }
    .catalog-container, .filter-sort{
        margin: 0 -8px;
    }
    .sort__total{
        margin: 15px 0 7px;
    }
    .filter-sort{
        padding: 8px 0;
        &.filter-block_fixed{
            margin: 0;
            padding: 15px;
            .sort__total{
                opacity: 0;
                visibility: hidden;
                margin: 0;
                height: 0;
            }
        }
    }
    .intro .page-title {
        margin: 40px 0 !important;
        font-size: 28px;
    }
    .paginate{
        justify-content: center;
        .paginate-move{
            display: none;
        }
    }

}

@media only screen and (min-width: 701px){
    .filter_sort{
        margin: 10px 0;
        width: auto;
        border: 0;
        display: flex;
        align-items: center;
        &.filter_act{
            box-shadow: none;
            .filter__dropdown{
                box-shadow: none;
            }
        }
        .filter__title{
            padding: 0;
            height: auto;
            cursor: default;
            text-transform: none;
            font-family: $font-reg;
            font-size: 13px;
            letter-spacing: 0.5px;
            margin-right: 20px;
            &:after{
                display: none;
            }
        }
        .filter__dropdown{
            border: 0;
            position: static;
            opacity: 1;
            visibility: visible;
            transform: none;
        }
        .filter__list{
            display: flex;

        }
        &:hover{
            border: 0;
        }
        .filter__cat{
            background: transparent;
            height: 26px;
            padding: 0;
            margin: 0 12px;
            .filter__name{
                color: $color-gray;
                font-family: $font-bold;
            }
            &:hover{
                .filter__name{
                    color: $font-color;
                }
            }
        }
        .filter__cat_act{
            border-bottom: 2px solid #e5e5e5;
            .filter__name{
                color: $font-color;

            }
        }
    }
    .sort{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sort__total{
        font-size: 13px;
    }
}

@media only screen and (max-width: 600px){

}

@media only screen and (max-width: 580px){

}

@media only screen and (max-width: 480px){
    .root-category{
        width: 100%;
        margin: 0 0 30px;
    }
    .intro-container{
        flex-direction: column;
        margin: 0;
    }
    .root-category__name_left{
        order: -1;
        align-items: flex-start;
        height: 30px;
        &:after{
            bottom: 9px;
        }
    }
    .root-category__name_right{
        order: 1;
        align-items: flex-end;
        height: 30px;
        &:after{
            top: 9px;
        }
    }
    .filter-btn, .sort{
        margin: 8px 0;
        width: 100%;
    }
    .filter-sort{
        margin: 0;
        flex-wrap: wrap;
    }
    .page-title {
        font-size: 24px;
        margin: 0px 0 20px !important;
    }
    .paginate-move{
        display: none;
    }
    .product{
        width: calc(100% - 16px);
        margin: 8px;
    }
    .intro .page-title {
        font-size: 24px;
    }
    .filter-sort.filter-block_fixed {
        padding: 8px 15px;
    }
}

@media only screen and (max-width: 460px){

}

@media only screen and (max-width: 420px){

}

@media only screen and (max-width: 380px){

}

@media only screen and (max-width: 360px){


}





