$transition: all 0.2s ease-in-out;
$transition05: all 0.5s ease-in-out;
$font: 'lig', Helvetica;
$font-bold: 'sem', Helvetica;

$font-color: #111111;
$color-gray: #969696;

%flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

%nolink{
    &:before{
        display: none;
    }
}

%after{
    content: '';
    display: block;
    position: absolute;
}

















