@import 'plugins/animate';
@import 'plugins/normalize';
@import '_var';
@import '_help';

@font-face {
    font-family: 'lig';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'sem';
    src: url('../fonts/Gilroy-Semibold.eot');
    src: url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
    url('../fonts/Gilroy-Semibold.woff') format('woff'),
    url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'reg';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sem_ita';
    src: url('../fonts/Gilroy-SemiboldItalic.eot');
    src: url('../fonts/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-SemiboldItalic.woff') format('woff'),
    url('../fonts/Gilroy-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'lig_ita';
    src: url('../fonts/Gilroy-LightItalic.eot');
    src: url('../fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-LightItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-LightItalic.woff') format('woff'),
    url('../fonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'reg_ita';
    src: url('../fonts/Gilroy-RegularItalic.eot');
    src: url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-RegularItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
    url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus{
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}

h1{font-size: 48px;}
h2{font-size: 26px;}
h3{font-size: 24px;}
h4{font-size: 18px;}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
    margin: 0 0 20px;
    line-height: 130%;
}

input,
select,
textarea {
    font-family: $font;
}

p{
    margin: 0 0 16px;
}

img{
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active{
    color: $font-color;
    text-decoration: none;
    position: relative;
    transition: $transition;
}

ul{
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol{
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 16px 0;
    padding: 0;
}

b, strong{
    font-weight: bold;
}

i{
    font-style: italic;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 12px 0 12px;
    width: 100%;
}

table th{
    font-weight: bold;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 8px;
}



/*fixed footer*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: $font-color;
    font-family: $font;
    line-height: 140%;
    font-size: 16px;
}

.footer {
    margin: auto auto 0 auto;
}
/*end fixed footer*/





.header{
    width: 1830px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100px;
    box-shadow: 0 1px 0 0 #e5e5e5;
    @extend %flex;
    &-group{
        @extend %flex;
    }
    &-logo{
        display: block;
        width: 110px;
        height: 36px;
        background: url(../img/logo.svg) center center no-repeat;
        @extend %nolink;
        margin-right: 56px;
    }
    &-nav{
        &__list{
            @extend %flex;
            &_button{
                .header-nav__item{
                    margin: 0 0 0 25px;
                    &:first-child{
                        margin: 0 35px 0 0;
                    }
                }
            }
        }
        &__item{
            margin-right: 34px;
            &:last-child{
                margin: 0;
            }
            &_devider{

            }
            &_sub{

            }
            &_button{
                width: 25px;
                height: 25px;
                display: block;
                background-repeat: no-repeat;
                background-position: center center;
                cursor: pointer;
                position: relative;
                &-photo{
                    background-image: url(../img/icon_photo.png);
                }
                &-like{
                    background-image: url(../img/icon_favorite_normal.svg);
                    &:hover{
                        .button-picto{
                            background-color: #ff5151;
                            color: #fff;
                        }
                    }
                }
                &-search{
                    background-image: url(../img/icon_search.svg);
                }
                &-menu{
                    background-image: url(../img/icon_menu_mobile.svg);
                    display: none;
                }
                &:hover{
                    .tooltip{
                        opacity: 1;
                        visibility: visible;
                        top: 31px;
                    }
                }
                .button-picto{
                    width: 16px;
                    height: 16px;
                    background-color: #E5E5E5;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    border-radius: 50%;
                    @extend %flex-c;
                    font-size: 8px;
                    font-family: $font-bold;
                    transition: $transition;
                }
            }
        }
        &__link{
            font-family: $font-bold;
            border-bottom: 2px solid #e5e5e5;
            display: block;
            line-height: 24px;

            &_act, &:hover{
                border-color: $font-color;
            }
        }
    }
    &-submenu{
        @extend %flex;
        &__item{
            margin-right: 34px;
            &:last-child{
                margin: 0;
            }
        }
        &__link{
            color: #969696 !important;
            &_act, &:hover{
                color: $font-color !important;
            }
        }
    }
}

.tooltip{
    position: absolute;
    top: 41px;
    padding: 16px;
    background: #fff;
    left: 50%;
    font-size: 13px;
    white-space: nowrap;
    box-shadow: 0 0 40px -18px #000;
    transform: translateX(-50%);
    transition: $transition;
    opacity: 0;
    visibility: hidden;
    &:after{
        @extend %after;
        width: 0;
        height: 0;
        border-bottom: 4px solid #fff;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: -4px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.container{
    &_main{

    }
}

.main-page{
    &__title{

    }
}

.root-category{
    &_m{

    }
    &_w{

    }
    &__pic{

    }
    &__name{
        &_left{

        }
        &_right{

        }
    }
}

.footer{
    &-menu{
        &__cat{
            &-name{

            }
            &-item{

            }
        }
        &__list{

        }
        &__link{

        }
    }
}

.soc-block{
    &__title{

    }
}

.soc{
    &-item{

    }
    &__link{
        &_in{

        }
        &_vk{

        }
        &_fb{

        }
        &_od{

        }
    }
}

.scroll-top{

}




















































@import 'query';


