@import 'plugins/animate';
@import 'plugins/normalize';

@font-face {
    font-family: 'lig';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'sem';
    src: url('../fonts/Gilroy-Semibold.eot');
    src: url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
    url('../fonts/Gilroy-Semibold.woff') format('woff'),
    url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'reg';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sem_ita';
    src: url('../fonts/Gilroy-SemiboldItalic.eot');
    src: url('../fonts/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-SemiboldItalic.woff') format('woff'),
    url('../fonts/Gilroy-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'lig_ita';
    src: url('../fonts/Gilroy-LightItalic.eot');
    src: url('../fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-LightItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-LightItalic.woff') format('woff'),
    url('../fonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'reg_ita';
    src: url('../fonts/Gilroy-RegularItalic.eot');
    src: url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-RegularItalic.woff2') format('woff2'),
    url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
    url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}






$transition: all 0.2s ease-in-out;
$font: 'lig', Helvetica;
$font-bold: 'sem', Helvetica;

$blue: #2099e1;
$default: #1B1B1D;
$gray: #888;


.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus{
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}

h1{font-size: 28px;}
h2{font-size: 26px;}
h3{font-size: 24px;}
h4{font-size: 18px;}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    margin: 0 0 20px;
    line-height: 130%;
}

input,
select,
textarea {
    font-family: $font;
}

p{
    margin: 0 0 16px;
}

img{
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active,{
    color: $blue;
    text-decoration: none;
    position: relative;
    transition: $transition;
}

a:before{
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: -3px;
    right: 0;
    background: $blue;
    transition: $transition;
}

a:hover:before {
    width: 100%;
    left: 0;
}


ul{
    list-style-type: disc;
    list-style-position: inside;
    display: block;
    margin: 16px 0;
    padding: 0;
}

ol{
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 16px 0;
    padding: 0;
}

b, strong{
    font-weight: bold;
}

i{
    font-style: italic;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 12px 0 12px;
    width: 100%;
}

table th{
    font-weight: bold;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 8px;
}

.oh{
    overflow: hidden;
}

.ac{
    text-align: center;
}

.df{
    display: flex;
}

html, body{
    height: 100%;
    font-family: $font, Tahoma;
}

body{
    font-family: $font;
    color: $default;
    line-height: 140%;
}

.content{
    font-family: 'Microsoft Sans Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    //color: $gray;
    line-height: 1.5;
    a{
        display: inline-block;
        position: relative;
        color: $blue;
        &:before{
            content: "";
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -1px;
            right: 0;
            background: $blue;
            transition: $transition;
        }
        &:hover:before {
            width: 100%;
            left: 0;
        }
    }

    h1{font-size: 28px;}
    h2{font-size: 26px;}
    h3{font-size: 24px;}
    h4{font-size: 15px;}

    h1, h2, h3, h4, h5, h6{
        font-weight: 300;
        margin: 0 0 20px;
        line-height: 130%;
        text-transform: uppercase;
    }

    input,
    select,
    textarea {
        font-family: $font;
    }

    p{
        margin: 0 0 16px;
    }

    img{
        line-height: 100%;
        max-width: 100%;
        display: block;
    }

    a,
    a:hover,
    a:focus,
    a:visited,
    a:active,{
        color: $blue;
        text-decoration: none;
        position: relative;
        transition: $transition;
    }

    a:before{
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        bottom: -3px;
        right: 0;
        background: $blue;
        transition: $transition;
    }

    a:hover:before {
        width: 100%;
        left: 0;
    }


    ul{
        list-style-type: disc;
        list-style-position: inside;
        display: block;
        margin: 16px 0;
        padding: 0;
    }

    ol{
        list-style-type: decimal;
        list-style-position: inside;
        display: block;
        margin: 16px 0;
        padding: 0;
    }

    b, strong{
        font-weight: bold;
    }

    i{
        font-style: italic;
    }

    table{
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 12px 0 12px;
        width: 100%;
    }

    table th{
        font-weight: bold;
    }

    table th, table td{
        border: 1px solid #ccc;
        padding: 8px;
    }
}

.header{
    &-group{

    }
    &-logo{

    }
    &-nav{
        &__list{

        }
        &__item{
            &_devider{

            }
            &_sub{

            }
            &_button{
                &-photo{

                }
                &-like{

                }
                &-search{

                }
                &-menu{

                }
            }
        }
        &__link{
            color: red;
        }
    }
    &-submenu{
        &__item{
            &__link{

            }
        }
    }
}

.container{
    &_main{

    }
}

.main-page{
    &__title{

    }
}

.root-category{
    &_m{

    }
    &_w{

    }
    &__pic{

    }
    &__name{
        &_left{

        }
        &_right{

        }
    }
}




























































@import 'query';


